:root {
    --main-color: #A0D8B3;
    --second-color: #DBDFEA;
    /* teal-600 */
    /* gray-200 */
}

.hero-img {
    background-image: url('https://storage.googleapis.com/devitary-image-host.appspot.com/15848031292911696601-undraw_designer_life_w96d.svg');
}

.a {
    background-color: rgba(0,0,0,0.3);
    
}

.sign-with-account:focus {
    /* border: 2px solid var(--main-color); */
   transition: border 1s;
} 